<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PISCES" value="Data Source=10.16.112.21;Initial Catalog=Pisces;User ID=pisces_user;Password=sahasnopassword" />
    <add key="OPCSERVER" value="opc.tcp://10.16.112.28:49320" />
    <add key="MODEL" value="service0"/>
    <add key="INTERVAL" value="60"/>
    <add key="stack" value="ns=2;s=CKPT_IP_LINE_Station460.Station460.FromMES.OverrideID"/>
    <add key="producting" value="ns=2;s=CKPT_IP_LINE_Station460.Station460.ToMES.DownTimeCode"/>
  </appSettings>
</configuration>