<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TagConfig" type="KanBanDataService.TagConfig, KanBanDataService"/>
    <section name="ShiftConfig" type="KanBanDataService.ShiftConfig, KanBanDataService"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <TagConfig>
    <add Categary="Queue" TagAddress="ns=2;s=CP_Sequencer.CP_Sequencer.Global.Queue" Detal="0"/>
    <add Categary="LocalBank" TagAddress="ns=2;s=CP_Sequencer.CP_Sequencer.Global.Local_Bank" Detal="0"/>
    <add Categary="WIP" TagAddress="ns=2;s=CP_Sequencer.CP_Sequencer.Global.WIP" Detal="0"/>
    <add Categary="OEMBank" TagAddress="ns=2;s=CP_Sequencer.CP_Sequencer.Global.OEM_Bank" Detal="15"/>
    <add Categary="FTT" TagAddress="ns=2;s=CP_Sequencer.CP_Sequencer.Global.FTT" Detal="0"/>
    <add Categary="Repairs" TagAddress="ns=2;s=CP_Sequencer.CP_Sequencer.Global.Repairs" Detal="0"/>
    <add Categary="Rebuild" TagAddress="ns=2;s=CP_Sequencer.CP_Sequencer.Global.Rebuild" Detal="0"/>

    <add Categary="Queue" TagAddress="ns=2;s=CKPT_IP_LINE.CKPT_IP_LINE.Global.MES_QUEUE" Detal="0"/>
    <add Categary="LocalBank" TagAddress="ns=2;s=CKPT_IP_LINE.CKPT_IP_LINE.Global.MES_LOCAL_BANK" Detal="0"/>
    <add Categary="WIP" TagAddress="ns=2;s=CKPT_IP_LINE.CKPT_IP_LINE.Global.MES_WIP" Detal="0"/>
    <add Categary="OEMBank" TagAddress="ns=2;s=CKPT_IP_LINE.CKPT_IP_LINE.Global.MES_OEM_BANK" Detal="15"/>
    <add Categary="FTT" TagAddress="ns=2;s=CKPT_IP_LINE.CKPT_IP_LINE.Global.MES_FTT" Detal="0"/>
    <add Categary="Repairs" TagAddress="ns=2;s=CKPT_IP_LINE.CKPT_IP_LINE.Global.MES_REPAIRS" Detal="0"/>
    <add Categary="Rebuild" TagAddress="ns=2;s=CKPT_IP_LINE.CKPT_IP_LINE.Global.MES_REBUILD" Detal="0"/>
  </TagConfig>
  <ShiftConfig>
    <add name="Shift1" begin="05:00" end="15:30"/>
    <add name="Shift2" begin="15:30" end="01:30"/>
  </ShiftConfig>
  <appSettings>
    <add key="PISCES" value="Data Source=10.16.112.21;Initial Catalog=Pisces;User ID=pisces_user;Password=sahasnopassword" />
    <add key="OPCSERVER" value="opc.tcp://10.16.112.28:49320" />
    <add key="MODEL" value="service0" />
    <add key="INTERVAL" value="60" />
    <add key="PRODUCTIONLINE" value="Cockpit"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.11.0" newVersion="2.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>