<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="db_connectionstring" value="Data Source=10.16.112.21;Initial Catalog=Pisces;User ID=pisces_user;Password=sahasnopassword"/>
</appSettings>
</configuration>