
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stylish Error Page Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Stylish Error Page template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!--pop-up-box-->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- //web font -->
</head>

<body>
    <div class="main-agileits">
        <h1>Project Arrow Error Page</h1>
        <!-- content -->
        <div class="mainw3-agileinfo form">
            <div class="agileits-subscribe">
                <div class="img-po-agile">
                    <img src="~/Content/images/mmmmk.png" alt="">
                </div>
                <div class="subscribe-w3lsbottom">
                    <div class="w3l-page">
                        <i class="fa fa-spinner" aria-hidden="true"></i>
                    </div>
                    <h6>Oooops.... Something is wrong</h6>
                    <h2>404</h2>
                    <a class="play-icon popup-with-zoom-anim" href="@Url.Action("Index","Home")">
                        Go Back To Home
                    </a>
                </div>
                <p class="page-agilemk">page not found</p>
                <div class="img-po-agile posi-sgile-2">
                    <img src="~/Content/images/mmmmk2.png" alt="">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- //content -->
    </div>
    <!-- //Popup -->
    <!-- copyright -->
    <!-- //copyright -->
    <!-- jquery -->
    <script src="~/Content/"></script>
    <!-- //jquery -->
    <!-- popup modal (for signin & signup)-->
    <script src="~/Content/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>

</body>

</html>