<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="OrderTagHelper" type="DPToolingService.OrderTagHelper, DPToolingService" />
  </configSections>
  <OrderTagHelper>
    <add ID="1" ProductGroupCode="1700" TagAddress="ns=2;s=Demo.Demo.Tag1" MonitorStation="" TargetStation="" HandShake="ns=2;s=Demo.Demo.HandShake" />
    <add ID="2" ProductGroupCode="1900" TagAddress="ns=2;s=Demo.Demo.Tag3" MonitorStation="" TargetStation="" HandShake="ns=2;s=Demo.Demo.HandShake" />
  </OrderTagHelper>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="db_connectionstring" value="Data Source=10.16.112.31;Initial Catalog=PiscesDPFC;User ID=pisces_user;Password=sahasnopassword" />
    <add key="OPCServer" value="OPC.TCP://127.0.0.1:49320" />
    <add key="Interval" value="5000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>