<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="path" value="D:\P2\PiscesProgram\USNOpcs\Log"/>
    <add key="db_connectionstring" value="Data Source=10.16.112.21;Initial Catalog=Pisces;User ID=pisces_user;Password=sahasnopassword"/>
    <add key="AlarmValue" value="600"/>
    <add key="PORT" value="25"/>
    <add key="HOST" value="na.mailrelay.yfai.com"/>
    <add key="FROM" value="PABMonitor@yanfeng-auto.com"/>
    <add key="TO" value="gang.lv@yfai.com;jie.zhou03@yfai.com"/>
    <add key="CC" value="gang.lv@yfai.com;jie.zhou03@yfai.com"/>

    <add key="Interval" value="60"/>
  </appSettings>
</configuration>