<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Broadcast" type="BroadCastDispatch.Broadcast, BroadCastDispatch"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <Broadcast>
    <add BroadcastType="E" Source="\\10.16.112.23\BroadCast" Dispatch="D:\BroadcastFiles\E" />
    <add BroadcastType="G" Source="\\10.16.112.23\BroadCast" Dispatch="D:\BroadcastFiles\G" />
    <add BroadcastType="G5" Source="\\10.16.112.23\BroadCast" Dispatch="D:\BroadcastFiles\G5" />
  </Broadcast>

  <appSettings>
    <add key="PORT" value="25"/>
    <add key="HOST" value="na.mailrelay.yfai.com"/>
    <add key="FROM" value="PABMonitor@yanfeng-auto.com"/>
    <add key="TO" value="charlie.lee@yfai.com;gary.young@yfai.com;steve.arsic@yfai.com"/>
  </appSettings>
</configuration>