<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PISCES" value="Data Source=10.16.112.21;Initial Catalog=Pisces;User ID=pisces_user;Password=sahasnopassword" />
    <add key="OPCSERVER" value="opc.tcp://10.16.112.28:49320" />
    <add key="MODEL" value="service0"/>
    <add key="STATION110INSTATION" value="ns=2;s=CKPT_IP_LINE_Station110.Station110.ToMES.InStation"/>
    <add key="EMTPYCARRIERSIGNAL" value="ns=2;s=CKPT_IP_LINE_Station110.Station110.FromMES.OverrideDeny"/>
    <add key="EXTARLOCATION" value="IP_TRIM_CP110OL10_A,IP_TRIM_CP110OL10_B,IP_TRIM_CP110OL10_C"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>