<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Group" type="WorkOrderPrint.ProductionGroup, WorkOrderPrint"/>
  </configSections>
  <Group>
    <add GroupCode="1700" Template="wsdp.btw" Printer="Microsoft Print to PDF" />
    <add GroupCode="1800" Template="wsdp.btw" Printer="Microsoft XPS Document Writer" />
    <add GroupCode="1900" Template="wsdp.btw" Printer="Microsoft Print to PDF" />
    <add GroupCode="2000" Template="wsdp.btw" Printer="Microsoft XPS Document Writer" />
  </Group>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Interval" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="PiscesDB" connectionString="Data Source=10.16.112.31;Initial Catalog=Pisces0106;User ID=pisces_user;Password=sahasnopassword"/>
  </connectionStrings>
</configuration>